<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
    <style>
        .container {
            width: 40%;
            max-width: 800px;
            min-width: 400px;
        }
    </style>
    <title>Spring MVC Board</title>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>회원가입</h2>
    </div>

    <form th:object="${member}" th:action="@{/signup}" method="POST" id="signupForm" class="form-horizontal">

        <div class="form-group row">
            <label class="col-form-label col-4">로그인 ID*</label>
            <div class="col-8">
                <input type="text" th:field="*{userId}" class="form-control form-control-sm col-8" maxlength=30 />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">비밀번호*</label>
            <div class="col-8">
                <input type="password" th:field="*{password}" class="form-control form-control-sm col-8" maxlength=30 />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">비밀번호 확인*</label>
            <div class="col-8">
                <input type="password" id="passwordCheck" name="passwordCheck" class="form-control form-control-sm col-8" maxlength=30 />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">이름*</label>
            <div class="col-8">
                <input type="text" th:field="*{name}" class="form-control form-control-sm col-8" maxlength=30 />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">이메일*</label>
            <div class="col-8">
                <input type="email" th:field="*{email}" class="form-control form-control-sm col-8" maxlength=30 />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">성별</label>
            <div class="col-8">
                <div class="form-check form-check-inline form-control-sm">
                    <input class="form-check-input" type="radio" name="gender" id="man" value="남자">
                    <label class="form-check-label" for="man">남자</label>
                </div>
                <div class="form-check form-check-inline form-control-sm">
                    <input class="form-check-input" type="radio" name="gender" id="woman" value="여자">
                    <label class="form-check-label" for="woman">여자</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">생년월일</label>
            <div class="col-8">
                <input type="date" th:field="*{birth}" class="form-control form-control-sm col-8" maxlength=30 />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">휴대폰 번호</label>
            <div class="col-8">
                <input type="tel" th:field="*{phone}" class="form-control form-control-sm col-8" maxlength=13 />
            </div>
        </div>

        <span style="font-size: 10px; float: right">*는 필수입력사항입니다.</span>

        <br>
        <hr>
        <br>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" id="signupSubmit" onclick="signup()">회원가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{login}'|" type="button">취소</button>
            </div>
        </div>

    </form>

</div>  <!-- /container -->

</body>

<script type="text/javascript">

    function signup() {
        document.getElementById('signupForm').submit();
    }

</script>
</html>